.gallery-row {
	margin: 0px 0px 11px 0px;
	overflow: hidden;
	zoom: 1;
}

.gallery-item {
	float: left;
	margin: 0px 0px 0px 11px;
	border: 1px solid #cacaca;
	background-color: #eeeeee;
}

.gallery-item.first {
	margin-left: 0px;
}

.gallery-item dt {
	overflow: hidden;
	text-align: center;
	padding: 6px;
}

.gallery-item a {
	
}

.gallery-item img {
	display: block;
}

.gallery-caption {
	padding: 0px 6px 4px 6px;
	background-color: #eeeeee;
}